#titulo{
color: rgb(32, 104, 146);
}

.verde{
    color:rgb(55, 149, 196);

}
h1{
    color: rgb(61, 139, 187);

}
p{
    color: rgb(106, 202, 240);

}
h1{
    color:rgb(99, 180, 230)

}
.titules-grandes{
    font-size: 25px;

}
